.header {
  background: url('#{$img-path}/hero-slide.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5em 10.5em 3.5em;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  h3 {
    margin-left: 0.5em;
  }
}

.links ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5em;
  list-style: none;
  li {
    margin-left: 2.5em;
  }
}

.title {
  text-align: center;
}
