.header {
  background: url('#{$img-path}/hero-slide.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5em 10.5em 3.5em;
    @media only screen and #{$tablet} {
      flex-direction: column;
      padding: 1em;
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  h3 {
    margin-left: 0.5em;
    @media only screen and #{$tablet} {
      display: none;
    }
  }
}

.header-nav .links ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 0.5em;
  list-style: none;
  li {
    margin-left: 2.5em;
    @media only screen and #{$tablet} {
      margin: 1.5em 1em;
    }
  }
}

.title {
  text-align: center;
}

.gallery-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 10em;
  background: $charcoal;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      list-style: none;
      margin-right: 2em;
    }
  }
}

@media only screen and #{$tablet} {
  body {
    max-width: 100vw;
  }
  .play, .search {
    display: none;
  }
}
