@include font-face('FjallaOne-Regular');
@include font-face('PlayfairDisplay-Bold');
@include font-face('OpenSans-Regular');

.logo h3 {
  font-family: 'PlayfairDisplay-Bold';
  font-size: 25px;
}

.links li {
  font-family: 'FjallaOne-Regular';
  font-size: 15px;
  letter-spacing: 0.2em;
}
