//==Asset Paths==
$font-path: '../fonts';
$img-path: '../img';

//==Colors==
$orange: #DC7725;
$charcoal: #323232;
$gray: #868686;
$light-gray: #B0AFB0;
$white: #FFF;

//==Breakpoints==
$tablet: '(max-width: 768px)';
